<p>
  <h3>Title:</h3>
  <%= @test.title %>
</p>

<p>
  <h3>Level:</h3>
  <%= @test.level %>
</p>

<table>
  <tr>
    <th>Questions:</th>
    <th colspan="3">Actions</th>
  </tr>
    <%= render @questions %>
</table>
<%= link_to 'New question', new_test_question_path(@test) %> <br>
<%= link_to 'Back', tests_path %>
